In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [3]:
import mysql.connector as conn

In [4]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [5]:
mydb

In [6]:
cursor = mydb.cursor()

In [7]:
cursor.execute('show databases')

In [8]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [9]:
cursor.execute('use org')

In [10]:
cursor.execute('show tables')

In [11]:
cursor.fetchall()

[('bonus',), ('title',), ('worker',)]

##  Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [12]:
cursor.execute('SELECT * FROM worker WHERE FIRST_NAME NOT IN ("Vipul","Satish")')

In [13]:
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (2,
  'Niharika',
  'Verma',
  80000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Admin'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]

## Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [14]:
cursor.execute("Select * FROM worker WHERE FIRST_NAME like '_____h'")

In [15]:
cursor.fetchall()

[(7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

## Q-3. Write a query to validate Email of Employee.

In [17]:
## Solution: - 

## cursor.execute('SELECT * FROM employeee WHERE email NOT LIKE "_%@__%.__%"')

## Here, employee table is not in database, but the validation of email query executes for the email column