In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [2]:
import mysql.connector as conn

In [5]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [6]:
mydb

In [7]:
cursor = mydb.cursor()

In [8]:
cursor.execute('show databases')

In [9]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [10]:
cursor.execute('use org')

In [11]:
cursor.execute('show tables')

In [12]:
cursor.fetchall()

[('bonus',), ('title',), ('worker',)]

## Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as &lt;WORKER_NAME&gt;.

In [14]:
cursor.execute('select FIRST_NAME as WORKER_NAME from worker')

In [15]:
cursor.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

## Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [16]:
cursor.execute('select DISTINCT Department from worker')

In [17]:
cursor.fetchall()

[('HR',), ('Admin',), ('Account',)]

## Q-3. Write an SQL query to show the last 5 record from a table

In [27]:
cursor.execute('(select * from worker order by WORKER_ID desc limit 5) order by worker_id asc')

In [28]:
cursor.fetchall()

[(4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (6,
  'Vipul',
  'Diwan',
  200000,
  datetime.datetime(2014, 6, 11, 9, 0),
  'Account'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account'),
 (8,
  'Geetika',
  'Chauhan',
  90000,
  datetime.datetime(2014, 4, 11, 9, 0),
  'Admin')]