In [19]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [1]:
import mysql.connector as conn

In [2]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [3]:
mydb

In [4]:
cursor = mydb.cursor()

In [5]:
cursor.execute('show databases')

In [6]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [7]:
cursor.execute('use org')

In [8]:
cursor.execute('show tables')

In [9]:
cursor.fetchall()

[('bonus',), ('employee',), ('title',), ('worker',)]

##  Q-13. Write an SQL query to show only odd rows from aÂ table.

In [19]:
cursor.execute('SELECT * FROM worker WHERE WORKER_ID%2 != 0')
# It can also be written as SELECT * FROM Worker WHERE MOD (WORKER_ID, 2) <> 0;

In [20]:
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (5, 'Vivek', 'Bhati', 500000, datetime.datetime(2014, 6, 11, 9, 0), 'Admin'),
 (7,
  'Satish',
  'Kumar',
  75000,
  datetime.datetime(2014, 1, 20, 9, 0),
  'Account')]

## Q-14. Write an SQL query to clone a new table from another table.

We can make the clone using any of the below queries
- SELECT * INTO WorkerClone FROM Worker;
- SELECT * INTO WorkerClone FROM Worker WHERE 1 = 0;
- CREATE TABLE WorkerClone LIKE Worker;