In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [2]:
import mysql.connector as conn

In [3]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [4]:
mydb

In [5]:
cursor = mydb.cursor()

In [6]:
cursor.execute('show databases')

In [7]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [8]:
cursor.execute('use org')

In [9]:
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('bonus',), ('title',), ('worker',)]

## Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [11]:
cursor.execute('Select RTRIM(FIRST_NAME) from Worker')

In [12]:
cursor.fetchall()

[('Monika',),
 ('Niharika',),
 ('Vishal',),
 ('Amitabh',),
 ('Vivek',),
 ('Vipul',),
 ('Satish',),
 ('Geetika',)]

## Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [13]:
cursor.execute("Select distinct department as Department, length(DEPARTMENT) as Length from Worker")

In [14]:
cursor.fetchall()

[('HR', 2), ('Admin', 5), ('Account', 7)]

## Q-3. Write an SQL query to fetch nth max salaries from a table.

cursor.execute('SELECT distinct Salary from worker a WHERE n >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc')

In [19]:
# For example, If n value is 3, then it fetches 3 maximum salaries from a the worker table

cursor.execute('SELECT distinct Salary from worker a WHERE 3 >= (SELECT count(distinct Salary) from worker b WHERE a.Salary <= b.Salary) order by a.Salary desc')

cursor.fetchall()

[(500000,), (300000,), (200000,)]