In [19]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [20]:
import mysql.connector as conn

In [21]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [22]:
mydb

In [23]:
cursor = mydb.cursor()

In [24]:
cursor.execute('show databases')

In [25]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [26]:
cursor.execute('use org')

In [27]:
cursor.execute('show tables')

In [28]:
cursor.fetchall()

[('bonus',), ('employee',), ('title',), ('worker',)]

##  Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [29]:
cursor.execute('SELECT * FROM worker WHERE year(JOINING_DATE)=2014 and month(JOINING_DATE) = 2')

In [30]:
cursor.fetchall()

[(1, 'Monika', 'Arora', 100000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (3, 'Vishal', 'Singhal', 300000, datetime.datetime(2014, 2, 20, 9, 0), 'HR'),
 (4,
  'Amitabh',
  'Singh',
  500000,
  datetime.datetime(2014, 2, 20, 9, 0),
  'Admin')]

## Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [31]:
cursor.execute("SELECT WORKER_TITLE, AFFECTED_FROM, COUNT(*) FROM Title GROUP BY WORKER_TITLE, AFFECTED_FROM HAVING COUNT(*) > 1")

In [32]:
cursor.fetchall()

[('Executive', datetime.datetime(2016, 6, 11, 0, 0), 3),
 ('Lead', datetime.datetime(2016, 6, 11, 0, 0), 2)]

## Q-3. How to remove duplicate rows from Employees table.

In [35]:
# We can get the duplicate rows with the below query
cursor.execute('SELECT EMPNO,ENAME,MGR,HIREDATE,SAL,DEPTNAME, COUNT(*) as COUNT FROM employee GROUP BY EMPNO,ENAME,MGR,HIREDATE,SAL,DEPTNAME HAVING COUNT(*)>1')

In [36]:
cursor.fetchall()

[(1, 'SMITH', 3, datetime.date(1980, 12, 17), Decimal('800.00'), 'BANKING', 2)]