In [4]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\marchettypavansai\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\marchettypavansai\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [18]:
import mysql.connector as conn

In [19]:
mydb = conn.connect(host = 'localhost',user ='root',passwd = 'Root@909')

In [20]:
mydb

In [21]:
cursor = mydb.cursor()

In [22]:
cursor.execute('show databases')

In [23]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('org',),
 ('performance_schema',),
 ('sakila',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('store',),
 ('sys',),
 ('world',)]

In [24]:
cursor.execute('use org')

In [25]:
cursor.execute('show tables')

In [26]:
cursor.fetchall()

[('bonus',), ('title',), ('worker',)]

## Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [27]:
cursor.execute('Select substring(FIRST_NAME,1,3) from Worker')

In [28]:
cursor.fetchall()

[('Mon',),
 ('Nih',),
 ('Vis',),
 ('Ami',),
 ('Viv',),
 ('Vip',),
 ('Sat',),
 ('Gee',)]

## Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [45]:
cursor.execute("Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh'")
#The INSTR method is in case-sensitive by default.
#Using Binary operator will make INSTR work as the case-sensitive function

In [46]:
cursor.fetchall()

[(1,)]

## Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [47]:
cursor.execute('SELECT worker.Department,concat(worker.FIRST_NAME," ", worker.LAST_NAME) as Name,worker.Salary FROM (SELECT max(Salary) as TotalSalary,DEPARTMENT from Worker group by DEPARTMENT) as high Inner Join Worker on high.DEPARTMENT=worker.DEPARTMENT  and high.TotalSalary=worker.Salary')

In [48]:
cursor.fetchall()

[('HR', 'Vishal Singhal', 300000),
 ('Admin', 'Amitabh Singh', 500000),
 ('Admin', 'Vivek Bhati', 500000),
 ('Account', 'Vipul Diwan', 200000)]